{% extends 'partials/partial-home.html' %}

{% block home %}

<style>
    .container-profile{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .description-profile{
        width: 700px;
        height: 700px;
        background: white;
        border-radius: 10px;
        margin-top: 80px;
    }

    .profile-name{
        width: 100%;
        height: 200px;
        border-bottom: 1px solid lightgray;
        border:  1px solid lightgray;
        border-radius: 10px;
    }

    .img-profile{
        width: 100px;
        height: 100px;
        float: left;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 100%;
        
    }

    .userprofile-name{
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        display: inline;
        float: left;
        margin-top: 20px;
        margin-left: 10px;
    }

    .name-img{
        width: 100%;
        height: 125px;
    }

    .profile-description{
        margin-top: 10px;
        margin-left: 10px;
    }


    .vote-div{
        width: 500px;
        height: 500px;
        border: 1px solid lightgray;
        margin-top: 20px;
    }

    .div-img-name{
        height: 40px;
        border-bottom: 1px solid lightgray;
        width: 100%;
    }

    .div-img-name ul{
        float: right;
        margin-top: 10px;
        margin-right: 10px;

    }

    .ul-edit-delete button{
        width: 60px;
        height: 20px;

    }

    .ul-edit-delete .edit{
        color: white;
        background: green;
        border: none;
        border-radius: 10px;
    }

    .ul-edit-delete .delete{
        color: white;
        background: red;
        border: none;
        border-radius: 10px;
    }

    .ul-edit-delete form{
        display: inline-block;
        width: 60px;
        height: 20px;
    }

    

    .div-img-name img{
        float: left;
        margin-top: 5px;
        margin-left: 5px;
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }

    .div-img-name h3{
        display: inline;
        float: left;
        margin-top: 5px;
        margin-left: 5px;
    }

    .vote-div h2{
        text-align: center;
        font-family: monospace;

    }

    .vote-div .img-f{
        width: 225px;
        height: 400px;
        display: inline;
        float: left;
    }

    .img-f img {
        width: 100%;
        height: 100%;
        display: inline;
    }


    .img-s{
        width: 225px;
        height: 400px;
        display: inline;
        float: right;
    }

    .img-s img{
        width: 100%;
        height: 100%;
        display: inline;
    }

    .form-1{
        margin-top: 10px;
        width: 225px;
        display: inline;
        
    }

    .strong-1{
        float: left;
        font-size: 25px;
        margin-left: 10px;
        margin-top: 10px;
        
    }

    .strong-2{
        float: right;
        font-size: 25px;
        margin-top: 10px;
        margin-right: 10px;
    }

    .boton-1{
        width: 225px;
        height: 400px;
        display: inline-block;
    }

    .boton-2{
        width: 225px;
        display: inline;
        height: 400px;
        float: right;
    }

    .form-2{
        margin-top: 10px;
        width: 225px;
        display: inline;
    }

    .div-button-edit{
        width: 100px;
        height: 30px;
    }

    .profile-name a{
        float: left;
        display: inline;
        margin-left: 20px;
    }

    .followers{
        float: right;
        margin-top: 10px;
        margin-right: 10px;
        
        width: 200px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .followers strong{
        align-items: center;
        font-size: 30px;
    }


    .followers form button{
        width: 200px;
        height: 35px;
    }

    .follow{
        font-size: 18px;
    }

    @media screen and (max-width: 438px) {
        .container-profile{
            width: 100%;
            
        }

        .description-profile{
            margin-top: 60px;
            width: 100%;
        }

        .vote-div{
            width: 100%;
            height: 600px;
            margin-top: 70px;
        }

        .form-1{
            margin-top: 10px;
            
        }

        .boton-1{
    
            width: 50px;
            display: inline-block;
            margin-top: 15px;
        }

        .boton-2{
            width: 50px;
            display: inline-block;
            margin-top: 15px;
        }

        .vote-div .img-f {
            width: 200px;
            border-radius: 5px;
            background: none;
            
        }

        .img-f img{
            width: 100%;
            border-radius: 5px;
        }

        .img-s {
            width: 200px;
            border-radius: 5px;
            background: none;
            
            
        }

        .img-s img{
            width: 100%;
            border-radius: 5px;
        }

        .form-2{
            width: 100px;
            
        }

        .profile-description{
            float: left;
        }

        .followers{
            width: 100px;
            margin-top: 20px;
        }

        .followers strong{
            font-size: 20px;
        }

        .followers form button{
            width: 100px;
        }

    }


    @media only screen and (max-width: 402px) {
        .vote-div .img-f {
            width: 190px;
        }

        .form-1{
            width: 190px;
        }

        .form-2{
            width: 190px;
        }

        .img-s {
            width: 190px;
        }

        .boton-1{
            width: 25px;
        }

        .boton-2{
            width: 25px;
        }
    }


    @media only screen and (max-width: 382px){
        .vote-div .img-f {
            width: 170px;
        }

        .img-s {
            width: 170px;
        }

        .form-1{
            width: 170px;
        }

        .form-2{
            width: 170px;
        }

    
    }

    @media only screen and (max-width: 997px) {
        .description-profile{
            margin-top: 70px;
        }
    }


</style>

<div class="container-profile">
    <div class="description-profile">
        <div class="profile-name">
            <div class="name-img">
            <img src="{{perfil.picture.url}}" alt="" class="img-profile">
            <h3 class="userprofile-name">{{perfil.name}}</h3></a>
            <div class="followers">
                <strong class="strong-follower">Followers: {{perfil.followers.all.count}}</strong>
                {% if not request.user.profile.user_id == perfil.user_id %}
                <form action="{% url 'add-follower' perfil.user_id %}" method="post" id="form">
                    {% csrf_token %}
                    <input type="hidden" name="follow" id="follow">
                    {%  if user.profile.user_id not in perfil.followers.all %}
                    <button type="submit" class="button-follow"><span class="fa-solid fa-user-plus follow"></span></button>
                    {% else %}
                    <button type="submit" class="button-follow">Dejar de Seguir</span></button>
                    {% endif %}
                   
                </form>
                <script type="text/javascript">

                </script>




                {% endif %}
            </div>
            <br>
            <br>
            <br>
            {% if request.user.profile.user_id == perfil.user_id %}
            <a href="{% url 'edit-profile' perfil.user_id %}"><button class="div-button-edit">Editar perfil</button></a>
            {% endif %}
            </div>
            <p class="profile-description">{{perfil.description}}</p>

        </div>
         {% for vote in votes %}
        <div class="vote-div">
            <div class="div-img-name">
                <img src="{{vote.author.picture.url}}" alt="">
                <h3 style="margin-top: 10px;">{{vote.author.name}}</h3>
                {% if request.user.profile == vote.author %}
                <ul class="ul-edit-delete">
                    <form action="{% url 'delete-post' vote.id%}" method="post">
                        {% csrf_token %}
                        <button class="delete">Delete</button></form>
                </ul>
                {% endif %}
            </div>
            <h2>{{vote.title}}</h2>
            <form action="{% url 'add-vote' vote.id %}" method="post" class="form-1">
                {% csrf_token %}
                <div class="boton-1">
                <label>
                <input type="hidden" name="img" value="{{request.path}}">
                <button type="submit" class="img-f"><img src="{{vote.first_image.url}}" alt=""></button>
                </label>
                <strong class="strong-1">{{vote.vote_image_first.all.count}}</strong>
                </div>
                </form>
    
    
                <form action="{% url 'add-vote-two' vote.id %}" method="post" class="form-2">
                    {% csrf_token %}
                    <div class="boton-2">
                    <label>  
                    <input type="hidden" name="imgs" value="{{request.path}}"> 
                   <button type="submit" class="img-s"><img src="{{vote.second_image.url}}" alt=""></button>
                    </label>
                    <strong class="strong-2">{{vote.vote_image_second.all.count}}</strong>
                    </div>
                </form>
        </div>
        {% endfor %}
    </div>
</div>
  


{% endblock %}